<%- layout("/layouts/boilerplate") %>

      <div class="row mt-3">

        <div class="alert alert-danger col-6 offset-3" role="alert">
            <p class="alert-heading"> <%=err.message %></p>
          </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6I4Tf91U67M6mXJ6PqU+UGR05l34E6TtPlxkOVjZu0L2Fb5Ht8ocBO9dV1L6Q6t" crossorigin="anonymous"></script>
</body>
</html>
