<%- layout("/layouts/boilerplate") %>

<div class="row m-5 p-3">
    <div class="col-6">
        <img src="/assets/job.png" class="job_image mt-5">
    </div>
    <div class="col-6" class="head_line">
        <h1>Generating  Excitement And Interest</h1>
        <p class="pt-2 text-muted ">Join our team and unlock your potential!</p>
        <p class="pt-2 text-muted ">Discover your passion, shape your career!</p>
        <p class="pt-2 text-muted ">Where talent meets opportunity</p>
        <p class="pt-2 text-muted ">Ignite your career with us</p>
    </div>     
</div>