<%- layout("/layouts/boilerplate") %>

<h1 class="mt-5 text-center">Job Listings</h1>

<div class="row p-5 m-5 justify-content-center">
    <div class="col-12 col-md-4 mb-4">
        <div class="card p-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title fs-3">Software Engineer</h5><br>
                <h6 class="card-subtitle mb-2 text-body-secondary">Tech Corp</h6>
                <p class="card-text">Join our team as a Software Engineer and work on cutting-edge technologies. We are looking for a motivated individual with experience in JavaScript, React, and Node.js.</p>
                <a href="#" class="card-link">View Details</a>
                <a href="#" class="card-link">Apply Now</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
        <div class="card p-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title fs-3">UX/UI Designer</h5><br>
                <h6 class="card-subtitle mb-2 text-body-secondary">Design Studio</h6>
                <p class="card-text">We are looking for a creative UX/UI Designer to join our dynamic team. The ideal candidate should have experience in Adobe XD, Figma, and a strong portfolio of design projects.</p>
                <a href="#" class="card-link">View Details</a>
                <a href="#" class="card-link">Apply Now</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
        <div class="card p-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title fs-3">Marketing Manager</h5><br>
                <h6 class="card-subtitle mb-2 text-body-secondary">Marketing Solutions</h6>
                <p class="card-text">We are seeking a Marketing Manager with a proven track record in developing and executing successful marketing campaigns. Experience in digital marketing and SEO is a plus.</p>
                <a href="#" class="card-link">View Details</a>
                <a href="#" class="card-link">Apply Now</a>
            </div>
        </div>
    </div>
</div>


<div class="row p-5 m-5 justify-content-center">
    <div class="col-12 col-md-4 mb-4">
        <div class="card p-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title fs-3">Data Scientist</h5><br>
                <h6 class="card-subtitle mb-2 text-body-secondary">Data Insights Inc.</h6>
                <p class="card-text">Join our team as a Data Scientist and contribute to innovative data analysis projects. We are looking for candidates with experience in Python, R, and machine learning algorithms.</p>
                <a href="#" class="card-link">View Details</a>
                <a href="#" class="card-link">Apply Now</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
        <div class="card p-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title fs-3">Product Designer</h5><br>
                <h6 class="card-subtitle mb-2 text-body-secondary">Creative Labs</h6>
                <p class="card-text">We are looking for a Product Designer with a passion for creating user-centered designs. Experience in Sketch, Figma, and a strong portfolio showcasing design processes are required.</p>
                <a href="#" class="card-link">View Details</a>
                <a href="#" class="card-link">Apply Now</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
        <div class="card p-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title fs-3">Business Analyst</h5><br>
                <h6 class="card-subtitle mb-2 text-body-secondary">BizTech Solutions</h6>
                <p class="card-text">We are seeking a Business Analyst to assess business needs and deliver insights to drive strategic decisions. Ideal candidates should have experience in data analysis and process improvement.</p>
                <a href="#" class="card-link">View Details</a>
                <a href="#" class="card-link">Apply Now</a>
            </div>
        </div>
    </div>
</div>
